<div class="row gx-4 gx-lg-5 align-items-center my-5">
  <div class="col-lg-7">
    <img
      class="img-fluid rounded mb-4 mb-lg-0"
      src="https://cdn.pixabay.com/photo/2014/11/11/15/24/gym-526995_960_720.jpg"
      alt="..."
    />
  </div>
  <div class="col-lg-5">
    <h1 class="font-weight-light">Acércate y conoce nuestras instalaciones!</h1>
    <p>
      Tenemos los mejores planes para ti, puedes elegir entre ellos el que mejor
      se adapte a tus necesidades, contamos con instructores expertos y un
      equipo médico capacitado para brindarte el mejor servicio.
    </p>
    <a class="btn btn-primary" href="/dashboard/memberships">Ver planes</a>
  </div>
</div>
