<main class="row p-5 mt-4">
  <section
    class="col d-flex justify-content-center flex-column align-items-center"
  >
    <h1>OLYMPUS GYM</h1>
    <br />
    <app-svg-auth></app-svg-auth>
  </section>
  <section class="col d-flex justify-content-center">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      autocomplete="off"
      id="login"
      class="login_container"
    >
      <h2 class="text-center fs-2 mt-4">Login</h2>
      <div class="inputs_container">
        <app-input
          [icon]="'bi-person-circle'"
          [inputType]="'email'"
          [placeHolder]="'Type your email or username'"
          [label]="'Username / Email'"
          [control]="loginForm.controls['email']"
        ></app-input>

        <app-input
          [icon]="'bi-lock'"
          [inputType]="'password'"
          [placeHolder]="'Type your password'"
          [label]="'Password'"
          [control]="loginForm.controls['password']"
        ></app-input>

        <a href="#">Forgot password?</a>

        <button id="loginButton" type="submit">LOGIN</button>
      </div>
      <span id="sign_up" class="sign_up"
        >New user? <a routerLink="/auth/register">Sign up</a></span
      >
    </form>

    <div id="register" class="register_container">
      <h2 class="text-center">Register</h2>
    </div>
  </section>
</main>
